:root {
  --primary: #d92c54;
  --secondary: #932f67;
  --tertiary: #dddeab;
  --muted: #8abb6c;
  --text: #954c2e;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 50px;
}
/* Cách đổi màu */
/* Cách 1 */
/* h2 {
  color: #d92c54;
} */
h2 {
  margin: 10;
  color: var(--primary);
  border-bottom: var(--muted) 2px solid;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

h1 {
  color: var(--text);
}
/* cách 2 đổi phông chữ */
.education-item .education-name {
  font-style: italic; /* đổi sang chữ nghiêng */
}
.education-item .education-uni {
  font-weight: bold; /*đổi độ đậm cho chữ */
}
#cv-name {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
#basic-info {
  margin: 0 auto; /* Căn giữa toàn bộ khối */
  display: flex; /* Kích hoạt Flexbox để sắp xếp nội dung ngang */
  flex-wrap: wrap; /* Cho phép các dòng tự động xuống hàng */
  gap: 10px; /* Tạo khoảng cách giữa các thông tin liên lạc */
  justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
  padding: 0 100px; /* Chừa khoảng cách hai bên khối */
}
* {
  box-sizing: border-box; /* Tính kích thước phần tử bao gồm cả padding và border */
  font-family: "Times New Roman", Times, serif; /* Chọn font chung cho toàn trang */
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 5px;
}
#basic-info * {
  display: flex;
  align-items: center;
}
#basic-info a {
  text-decoration: none;
  color: var(--primary);
}
#basic-info p {
  color: var(--primary);
}
p {
  text-align: justify;
}
#cv-container {
  display: flex;
  flex-direction: column;
}
